@{
    ViewData["Title"] = "Create Claim";
}

<h2>Create Claim</h2>
<form method="post" action="create" onsubmit="submitForm()">
    <fieldset>
        <label for="claim-number">New Claim Number:</label>
        <input type="text" name="claim-number" id="claim-number" />
        <br />
        <label for="first-name">First Name:</label>
        <input type="text" name="first-name" id="first-name" />
        <br />
        <label for="last-name">Last Name:</label>
        <input type="text" name="last-name" id="last-name" />
        <br />
        <label for="phone-number">Phone number:</label>
        <input type="text" name="phone-number" id="phone-number" />
        <br />
        <label for="zip-code">Postal Code:</label>
        <input type="text" name="zip-code" id="zip-code" />
        <input type="text" name="zip-addon" id="zip-addon" />
        <br />
        <label for="state">State:</label>
        <input type="text" name="state" id="state" />
        <br />
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />
        <br />
        <label for="vin">VIN:</label>
        <input type="text" name="vin" id="vin" />
        <br />
        <label for="loss-type">Loss Type:</label>
        <input type="text" name="loss-type" id="loss-type" value="COLL" />
        <br />
        <label for="deductible">Deductible:</label>
        <input type="text" name="deductible" id="deductible" />
        <br />
        <input type="submit" value="Create" />
        <div id="progress-indicator"></div>
    </fieldset>
</form>
@if (TempData["result"] != null)
{
    <p>@TempData["result"]</p>
    <p>@TempData["claim"]</p>
    <p>@TempData["responseTime"]</p>
}
<script>
    function submitForm() {
        setTimeout(showProgress, 0);
        return true;
    }

    function showProgress() {
        document.forms[0].children[0].setAttribute('disabled', 'disabled');
        var indicator = document.getElementById('progress-indicator');
        var count = 1;

        function updateProgressIndicator() {
            indicator.textContent = `${count} seconds elapsed. usually it takes about 15-20 seconds...`;
            count++;
        }

        updateProgressIndicator();
        setInterval(updateProgressIndicator, 1000);
    }
</script>