@{
    ViewData["Title"] = "Create Claim";
}

<h2>Create Claim</h2>
<form method="post" action="create" class="claim-form">
    <fieldset>
        <label for="claim-number">New Claim Number:</label>
        <input type="text" name="claim-number" id="claim-number"/>
        <br/>
        <input type="submit" value="Create"/>
    </fieldset>
</form>
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}