html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd {
	color: #2e3336;
	display: grid;
	font-family: sans-serif;
	grid-row-gap: 1em;
	grid-template-rows: 3em auto 1em;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer {
	grid-column: 1 / 4;
}

header {
	background-color: #343a40;
	grid-column: 1 / 4;
}

header h3 {
	color: #fff;
	font-size: 1.5em;
	font-weight: lighter;
	padding-top: .5em;
	text-indent: 1.5em;
	text-transform: uppercase;
}

.shadowed {
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.button {
	border: none;
	border-radius: .75em;
	padding: .45em .45em;
	letter-spacing: .2em;
}

.button.primary {
	background-color: #f90;
	color: #fff;
}

.button.primary:hover {
	background-color: #fff;
	border: 1px solid #f90;
	color: #333;
}

.content {
	display: grid;
	grid-column: 2 / 3;
	grid-gap: 1em;
	grid-template-rows: 2em auto;
}

.content form {
	display: grid;
	grid-column: 1 / 2;
}

.content form fieldset {
	border: 1px solid #333;
	display: grid;
	grid-auto-rows: 1.5em;
	grid-gap: .75em;
	grid-template-columns: 10em 1fr;
	grid-template-rows: auto;
}

.content form input[type="email"],
.content form input[type="number"],
.content form input[type="tel"],
.content form input[type="text"],
.content form select {
	grid-column: 2 / 3;
	box-shadow: 0 2px 3px 0 rgba(150, 100, 0, 0.5);
}

.content form input[type="email"]:valid:not(:optional),
.content form input[type="number"]:valid:not(:optional),
.content form input[type="tel"]:valid:not(:optional),
.content form input[type="text"]:valid:not(:optional),
.content form select:valid:not(:optional) {
	box-shadow: 0 2px 3px 0 rgba(0, 255, 0, 0.5);
}

.content form input[type="email"]:invalid,
.content form input[type="number"]:invalid,
.content form input[type="tel"]:invalid,
.content form input[type="text"]:invalid,
.content form select:invalid {
	box-shadow: 0 4px 6px 0 rgba(255, 0, 0, 0.5);
}

.content form input[type="submit"] {
	margin-top: 1em;
}

.content form label {
	grid-column: 1 / 2;
}

.content form legend {
	display: none;
}
