@{
    ViewData["Title"] = "Login";
}

<form>
    <fieldset>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <br />
        <label for="pass">Pass:</label>
        <input type="text" name="pass" id="pass" /> 
        <br />
        <input type="submit" value="Login" />
        <div id="progress-indicator"></div>
    </fieldset>
</form>