#root {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 2fr 1fr;
}

header {
	grid-row: 1;
	grid-column: 1/4;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header * {
	color: #fff;
	margin: .5em 1.5em;
}

header h3 {
	font-size: 1.5em;
}

header button {
	background-color: #333;
	border: none;
	font-size: 1em;
	cursor: pointer;
}

.shadowed {
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.content {
	display: grid;
	grid-gap: 1em;
	grid-column: 2;
	grid-row: 2;
}